@use 'src/scss/variables' as *;
@use 'src/scss/abstracts' as *;

.register {
	min-height: 92vh;
	padding: 4rem;
	background-image: linear-gradient(
			rgba($color-black, 0.75),
			rgba($color-black, 0.75)
		),
		url(./../../../../images/gallery-1.jpg);

	display: flex;
	justify-content: center;
	align-items: center;

	@include respond(tab-land) {
		background-image: linear-gradient(
				rgba($color-white, 0.75),
				rgba($color-white, 0.75)
			),
			url(./../../../../images/gallery-1.jpg);
	}

	@include respond(phone-lg) {
		padding: 2rem;
	}

	&__form {
		padding: 2rem;
		width: 30vw;
		background-color: rgba($color-white, 0.7);
		border-radius: 5px;

		@include respond(laptop-md) {
			width: 40vw;
		}

		@include respond(laptop-sm) {
			width: 50vw;
		}

		@include respond(tab-land) {
			width: 100%;
			height: auto;
			padding: 0;
			background-color: transparent;
		}
	}

	&__form-content {
		padding: 0.75rem 4rem;

		@include respond(phone-lg) {
			padding: 2rem;
		}
	}

	&__form-switch {
		display: flex;
		align-items: center;

		span {
			font-size: 1.4rem;

			@include respond(tab-land) {
				font-size: 1.8rem;
			}
		}
	}
}
