@use 'src/scss/abstracts' as *;
@use 'src/scss/variables' as *;

.error {
	height: 100vh;
	background-image: linear-gradient(
			rgba($color-black, 0.76),
			rgba($color-black, 0.76)
		),
		url(../../../images/error.jpg?as=webp&width=1440&quality=90);

	@include respond(laptop-sm) {
		background-image: linear-gradient(
				rgba($color-black, 0.76),
				rgba($color-black, 0.76)
			),
			url(../../../images/error-md.jpg?as=webp&width=800&quality=90);
	}

	@include respond(phone-lg) {
		background-image: linear-gradient(
				rgba($color-black, 0.76),
				rgba($color-black, 0.76)
			),
			url(../../../images/error-sm.jpg?as=webp&width=550&quality=85);
	}

	&__message {
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
