@use 'src/scss/variables' as *;
@use 'src/scss/mixins' as *;

.root {
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.45);
  text-decoration: none;
  width: 100%;
  height: 40rem;
  transform: scale(1);
  position: relative;
  transition: all 0.4s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;

  @include respond(tab-port) {
    height: 30rem;
  }

  @include respond(phone-lg) {
    height: 25rem;
  }

  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  p {
    font-size: 3rem;
    font-family: $font-heading;
    text-transform: uppercase;
    color: $color-white;
  }

  &--veg,
  &--non-veg {
    background-size: cover;
    background-position: center;
  }

  &--veg {
    background-image: linear-gradient(
        rgba($color-dark, 0.6),
        rgba($color-dark, 0.6)
      ),
      url(/images/veg.webp);

    @include respond(tab-port) {
      background-image: linear-gradient(
          rgba($color-dark, 0.6),
          rgba($color-dark, 0.6)
        ),
        url(/images/veg-sm.webp);
    }
  }

  &--non-veg {
    background-image: linear-gradient(
        rgba($color-dark, 0.6),
        rgba($color-dark, 0.6)
      ),
      url(/images/non-veg.webp);

    @include respond(tab-port) {
      background-image: linear-gradient(
          rgba($color-dark, 0.6),
          rgba($color-dark, 0.6)
        ),
        url(/images/non-veg-sm.webp);
    }
  }
}
