@use 'src/scss/variables' as *;
@use 'src/scss/mixins' as *;

.root {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1.8rem 2rem;
  text-decoration: none;
  color: $color-secondary;
  position: relative;
  transition: all 0.3s ease-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.65rem;
    background-color: transparent;
    transition: all 0.3s ease-out;
  }

  &:hover {
    transform: translateY(-2px);
    background-color: rgba($color-dark, 0.45);
    color: $color-light;

    &::before {
      background-color: currentColor;
    }
  }

  &--active {
    color: $color-light;
    transform: translateY(-2px);
    background-color: rgba($color-dark, 0.45);

    &::before {
      background-color: currentColor;
    }
  }
}

.icon {
  svg {
    height: 2.5rem;
    width: 2.5rem;

    @include respond(tab-land) {
      height: 3.5rem;
      width: 2.5rem;
    }
  }
}

.text {
  font-size: 1.6rem;
  font-family: $font-heading;
  font-weight: 600;

  @include respond(tab-land) {
    font-size: 2rem;
  }

  @include respond(phone-md) {
    font-size: 2.2rem;
  }
}
