.cart {
    min-height: 100vh;
    padding: 10rem;

    display: grid;
    grid-template-rows: [heading-start] max-content [heading-end] 1fr 1fr; 
    grid-template-columns: repeat(12, minmax(10rem, 1fr));
    grid-row-gap: 4rem;

    @include respond(tab-land) {
        padding: 10rem 5rem;
    }

    @include respond(tab-port) {
        padding: 20rem 5rem 5rem 5rem;
        grid-template-rows: [heading-start] max-content [heading-end] max-content 1fr ; 
        grid-template-columns: repeat(6, minmax(8rem, 1fr));
        grid-row-gap: 10rem;
    }

    @include respond(phone-xs) {
        padding: 20rem 2rem 5rem 2rem;
    }

    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        text-align: center;
    }

    &__list {
        grid-column: 1 / 8;
        grid-row: 2 / 4;
        padding: 5rem 10rem;
        display: grid;
        grid-row-gap: 3rem;
        align-items: start;
        overflow-y: scroll;
        align-content: start;

        @include respond(tab-port) {
            grid-row: 3 / 4;
            grid-column: 1 / -1;
            padding: 5rem 2rem;
        }
    }


    &__total {
        grid-column: 9 / 12;
        display: grid;
        background-color: $color-secondary;
        border-radius: 15px;
        box-shadow: 0 1rem 2rem rgba($color-grey-dark, .54);
        padding: 4rem;

        &-price {
            text-align: center;
            font-size: 5rem;
            font-weight: 700;
            color: rgba($color-grey-dark, .85);
        }

        button {
            padding: 1.5rem !important;
            align-self: center;
            justify-self: center;
        }

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
            padding: 2rem;
        }

        @include respond(phone) {
            grid-row-gap: 2rem;
        } 
    }

    &__empty {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}