.custom-burger {
    padding: 10rem 0;
    min-height: 100vh;
    text-align: center;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-row-gap: 2rem;

    @include respond(tab-land) {
        padding-top: 15rem;
    }

    @include respond(phone) {
        padding: 20rem 0;
        padding-bottom: 8rem;
    }

    &__header {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    &__back-btn {
        color: $color-tertiary;
        grid-row: 1 / 2;
        grid-column: 1 / 3;

        @include respond(tab-port) {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
        }
    }
}

// Diet Page
.custom-burger__diet {
    padding: 4rem;
    display: grid;
    flex-direction: column;
    align-items: center;
    
    &-heading {
        font-size: 3rem;
        flex: 0 0 max-content;
        color: rgba($color-tertiary, .76);
        text-transform: capitalize;

        @include respond (phone-xs) {
            font-size: 4rem;
            margin-bottom: 3rem;
        }
    }

    &-card-container {
        height: 100%;
        display: grid;
        grid-template-columns: .5fr [card-veg-start] 1fr [card-veg-end card-nonveg-start] 1fr [card-nonveg-end]  .5fr;
        grid-column-gap: 5rem;
        justify-items: center;
        align-items: center;

        @include respond(phone) {
            grid-template-columns: [card-veg-start] 1fr [card-veg-end card-nonveg-start] 1fr [card-nonveg-end] ;
        }

        @include respond(phone-xs) {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 4rem [card-full-start] 1fr [card-full-end] 4rem;
            grid-row-gap: 4rem;
        }
    }

    &-card--veg {
        grid-column: card-veg-start / card-veg-end;

        @include respond(phone-xs) {
            grid-column: card-full-start / card-full-end;
        }
    }

    &-card--nonveg {
        grid-column: card-nonveg-start / card-nonveg-end;
        
        @include respond(phone-xs) {
            grid-column: card-full-start / card-full-end;
        }
    }
}

// Create Custom Burger Page
.custom-burger__create {
    display: grid;
    grid-template-columns: 5rem [full-col-start] repeat(2, [col-start] 1fr [col-end]) [full-col-start]  5rem;
    align-content: center;
    justify-content: center;

    @include respond(phone) {
        grid-template-columns: [full-col-start] repeat(2, [col-start] 1fr [col-end]) [full-col-start];
        grid-row-gap: 4rem;
    }

    .burger {
        grid-column: full-col-start / col-end 1;
        width: 80%;
        margin: 0 auto;
        height: 45rem;

        @include respond(phone) {
            grid-column: full-col-start / full-col-end;
        }
    }

    .ingredient-controls {
        grid-column: col-start 2 / full-col-end ;

        @include respond(phone) {
            grid-column: full-col-start / full-col-end;
        }
    }

    &-cta {
        grid-column: col-start 2 / full-col-end ;
        width: 100%;
        display: grid;
        justify-content: stretch;
        grid-row-gap: 1rem;

        
        @include respond(tab-port) {
            grid-column: full-col-start / full-col-end;
        }

        @include respond(phone) {
            grid-row-gap: 1.5rem;
        }

        &-price {
            font-size: 1.8rem;
            text-transform: uppercase;
            color: $color-tertiary;

            @include respond(tab-land) {
                font-size: 2.25rem;
            }

            @include respond(phone) {
                font-size: 3rem;
            }
        }

        &-btns {   
            width: 45%;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;

            @include respond(phone) {
                width: 65%;
            }

            & > * {
                width: 15rem;

                @include respond(tab-land) {
                    width: 20rem;
                }
            }
        }
    }
}