.home {
    min-height: 100vh;
    
    @include respond(tab-port) {
        padding-top: 8.7rem;
    }

    //////////////////////////////////////////////////////////////////////////////////////////////////////
    // Section home-header
    &__header {
        height: 100vh;
        background-image: linear-gradient(
            rgba($color-white, .25),
            rgba($color-white, .25),
        ),
        url(./../../assets/images/Home-bg-large.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
        display: grid;
        grid-template-rows: [header-display-start] 1fr [header-display-end header-features-start] .5fr [header-features-end];
        grid-template-columns: [full-col-start] repeat(12, minmax(12.2rem, 1fr)) [full-col-end];
        justify-content: center;
        align-content: center;


        @include respond(phone) {
            height: 85vh;
            grid-template-columns: [full-col-start] repeat(6, minmax(5rem, 1fr)) [full-col-end];
        }

        &-display {
            grid-row: header-display-start / header-display-end;
            background-color: rgba($color-black, .85);
            grid-column: 3 / 7;

            display: grid;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            grid-row-gap: 1.25rem;

            
            @include respond(tab-port) {
                grid-column: full-col-start / full-col-end;
            }

            @include respond(phone) {
                grid-row-gap: 3rem;
            }
        }

        &-features {
            grid-row: header-features-start / header-features-end;
            background-color: rgba($color-white, .85);
            grid-column: 3 / 7;

            display: grid;
            justify-content: center;
            align-content: center;
            align-items: center;
            grid-row-gap: 1.2rem;

            @include respond(tab-port) {
                grid-column: full-col-start / full-col-end;
            }

            @include respond(phone) {
                grid-row-gap: 2.75rem;
            }
        }

        &-feature-item {
            display: flex;
            align-items: center;

            p {
                font-size: 1.85rem;
                font-family: $font-heading;
                text-transform: capitalize;
                margin-left: 1.2rem;
                color: $color-success;

                @include respond(phone) {
                    font-size: 2.85rem;
                }
            }

            svg {
                fill: $color-success;
                height: 4rem;
                width: 3rem;

                @include respond(phone) {
                    height: 5rem;
                    width: 5rem;
                }
            }
        }
    }

    /////////////////////////////////////////////////////////////////////////////////
    // Section- make-your-burger
    &__make-your-burger {
        height: 40vh;
        background-color: yellow;
        background-image: linear-gradient(
            rgba($color-black, .75),
            rgba($color-black, .75)
        ),
        url(./../../assets/images/gallery-2.jpg);

        background-size: cover;
        background-position: center;

        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        justify-items: center;
        grid-row-gap: 1.5rem;

        @include respond(phone) {
            height: 30vh;
            padding: 0 4rem;;
            grid-row-gap: 3rem;
        }
    }

    /////////////////////////////////////////////////////////////////////////////////
    // Section- Newly added burgers
    &__newly-added {
        min-height: 90vh;
        background-color: $color-secondary;
        padding: 5rem 10rem;
        text-align: center;
        display: grid;
        grid-row-gap: 5rem;

        
        // burger-cards container
        &-burgers {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            grid-row-gap: 3.5rem;

            @include respond(phone) {
                grid-column-gap: 4.5rem;
                grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
            }
        }
    }

    //////////////////////////////////////////////////////////////////////////////////
    // Section - User Reviews

    &__user-reviews {
        height: 100vh;
        padding: 4rem 0;
        grid-column: full-start / full-end;
        grid-row: reviews-start / reviews-end;
        align-items: center;
        justify-items: center;
        background-color: $color-grey-light;
    
        display: grid;
        grid-template-rows: [heading-start] 1fr [heading-end review-start] 6fr [review-end];
        grid-template-columns: 1fr [main-start] 4fr [main-end] 1fr;
    
        @include respond(tab-port) {
            height: auto;
            grid-template-columns: [main-start] 4fr [main-end];
        }

        @include respond(phone) {
            padding: 6rem 2rem;;
        }
    
        .reviews__heading {
            grid-column: main-start / main-end;
            grid-row: heading-start / heading-end;
            color: $color-primary;

            @include respond(phone) {
                text-align: center;
            }
        }
    
        // reviews container
        .reviews {
            grid-column: main-start / main-end;
            grid-row: review-start / review-end;
    
            display: grid;
            grid-template-columns: repeat(auto-fit,  1fr);
            grid-row-gap: 5rem;
            align-items: center;
            justify-items: center;
        }
    }
}