.menu {
    min-height: 100vh;
    background-color: $color-grey-light;
    padding: 10rem;
    display: grid;
    grid-row-gap: 5rem;

    align-items: center;
    align-content: center;

    @include respond(tab-port) {
        padding: 20rem 10rem 10rem 10rem;
    }

    @include respond(phone) {
        padding: 20rem 5rem 10rem 5rem;
    }

    &__heading {
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        grid-row-gap: 3.5rem;

        @include respond(phone) {
            grid-column-gap: 4.5rem;
            grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        }
    }

    &__subnav {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 9rem;
        justify-content: center;

        @include respond(tab-port) {
            display: grid;
            padding: 0;
            justify-content: stretch;

            grid-row-gap: 4rem;
        }

        &-veg-only {
            flex-basis: 25%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            align-self: center;
            color: $color-success;

            &-text {
                font-size: 2rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                img {
                    height: 5rem;
                    width: 5rem;
                }
    
                @include respond(tab-port) {
                    font-size: 3rem;
                }
            }

            @include respond(tab-port) {
                justify-content: space-evenly;
            }
        }

        &-make-burger-cta {
            flex-basis: 25%;

            @include respond(tab-port) {
                justify-self: center;;
            }
        }
    }
    
    
}