@use 'src/scss/variables' as *;
@use 'src/scss/mixins' as *;

.root {
  height: $page-height;
  background-image: linear-gradient(
      rgba($color-black, 0.75),
      rgba($color-black, 0.75)
    ),
    url(/images/login.webp);

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(laptop-sm) {
    background-image: linear-gradient(
        rgba($color-black, 0.75),
        rgba($color-black, 0.75)
      ),
      url(/images/login-md.webp);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        rgba($color-white, 0.75),
        rgba($color-white, 0.75)
      ),
      url(/images/login-md.webp);
  }

  @include respond(phone-lg) {
    background-image: none;
    padding: 2rem;
    align-items: flex-start;
  }

  @include respond(phone-md) {
    padding: 2rem 0;
  }
}

.heading {
  margin-bottom: 3rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 65vh;
  padding: 4rem 0;
  width: 25vw;
  background-color: rgba($color-white, 0.7);
  border-radius: 5px;

  @include respond(desktop-sm) {
    min-height: 55vh;
  }

  @include respond(laptop-md) {
    width: 30vw;
  }

  @include respond(laptop-sm) {
    width: 40vw;
  }

  @include respond(tab-land) {
    width: 55vw;
  }

  @include respond(tab-port) {
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  @include respond(phone-md) {
    padding: 2rem 0;
  }
}

.form-content {
  width: 100%;
  padding: 0.75rem 4rem;

  @include respond(phone-md) {
    padding: 0.75rem 1rem;
  }
}
