@use '../variables' as *;
@use '../abstracts' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(desktop) {
		font-size: 56.25%;
	}

	@include respond(desktop-xl) {
		font-size: 75%;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	scrollbar-width: none;

	.ReactQueryDevtoolsPanel {
		* {
			font-size: 1.4rem !important;
		}
	}
}

body {
	box-sizing: border-box;
	font-family: $font-default;
}
