@use '../variables' as *;
@use '../abstracts' as *;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}

.heading-1 {
	font-size: 5rem;
}

.heading-2 {
	font-size: 4.5rem;
}

.heading-3 {
	font-size: 3rem;
}
