.update-menu {
    background-color: $color-grey-light;
    display: grid;
    grid-template-rows: [menu-heading-start] 10rem [menu-heading-end] 10rem [menu-btn-start] 10rem [menu-btn-end menu-list-start] 1fr [menu-list-end] 8rem;

    justify-items: center;
    align-items: center;
    overflow: hidden;

    @include respond(phone) {
        grid-gap: 2rem;
    }

    &__list {
        grid-row: menu-list-start / menu-list-end;   

        display: grid;

        grid-template-columns:repeat(auto-fit, minmax(43rem, 1fr)) ;
        grid-row-gap: 4rem;

        justify-items: center;
        align-items: center;

            @include respond(tab-land) {
                grid-gap: 2rem;
                margin-top: 4rem;
            }

            &--empty {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 53vh;
                font-size: 5rem;
                text-align: center;
                font-weight: 400;
                font-family: $font-heading;
                color: $color-danger;
                text-transform: capitalize;

                @include respond(tab-port) {
                    font-size: 4rem;
                }
            }
        }



    &__heading {
        grid-row: menu-heading-start / menu-heading-end;
        align-self: end;
        color: $color-primary;
        font-weight: 400;
        transform: translateY(8rem);
    }

    &__btn {
        grid-row: menu-btn-start / menu-btn-end;
        justify-self: center;
        align-self: center;
    }
}