
/////////////////////////////////////////////////////////////////////////////////////////////////
// Update User

.update__user {
    display: grid;
    grid-template-rows: 1fr 1fr .25fr;
    grid-row-gap: 2rem;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(to right,
    rgba($color-white, .8),  rgba($color-white, .8), ),
    url(../../../../assets/images/gallery-3.jpg);
    background-size: cover;


    &-data {
        width: 50%;
        @include respond(tab-port) {
            transform: translateY(10rem);
            width: 60%;
        }

        @include respond(phone) {
            width: 70%;
        }

        &-preview-img-bg {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
        }

        &-preview-img-image {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
    }

    &-password {
        width: 50%;
        align-self: start;

        @include respond(tab-port) {
            width: 60%;
            align-self: center;
        }

        @include respond(phone) {
            width: 70%;
        }
    }

    @include respond(tab-port) {
        grid-row-gap: 0;
    }
    
    .delete__user {
        grid-row: 3 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width : 50%;
    
        @include respond(tab-port) {
            width: 60%;
        }
    
        @include respond(phone) {
            width: 70%;
            flex-direction: column;
        }
    
        &-heading {
            font-weight: 400;
            color: $color-primary;

            @include respond(phone) {
                margin-bottom: 2rem;
            }
        }
    }
}


