@use '../variables' as *;
@use '../abstracts' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(desktop) {
		font-size: 56.25%;
	}

	@include respond(tab-land) {
		font-size: 50%;
	}

	@include respond(phone-md) {
		font-size: 43.75%;
	}

	.ReactQueryDevtoolsPanel {
		* {
			font-size: 1.4rem !important;
		}
	}
}

body {
	box-sizing: border-box;
	font-family: $font-default;
}
