@use '../variables' as *;
@use '../abstracts' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}

.heading-1 {
	font-size: 5rem;
}

.heading-2 {
	font-size: 4.5rem;
}

.heading-3 {
	font-size: 3rem;
}
