body {
    font-family: $font-default;
    line-height: 1.7;

    @include respond(tab-port) {
        line-height: 1.3;
    }
}

.heading-1 {
    font-size: 5rem;
    font-family: $font-heading;

    @include respond(phone) {
        font-size: 6rem;
    }

    @include respond(phone-xs) {
        font-size: 7.5rem;
    }
}

.heading-2 {
    font-size: 3rem;
    font-family: $font-heading;

    @include respond(tab-land) {
        font-size: 2.75rem;
    }

    @include respond(phone-xs) {
        font-size: 3.5rem;
    }
}

