.u-text-capitalize { text-transform: capitalize !important; }
.u-text-uppercase { text-transform: uppercase !important; }
.u-text-white { color: $color-white !important; }

.u-text-secondary { color: $color-secondary !important; }
.u-text-tertiary { color: $color-tertiary !important; }
.u-text-primary { color: $color-primary !important; }
.u-text-light { color: $color-grey-light !important; }

.u-ftwt-400 { font-weight: 400 !important; }

.u-text-center { text-align: center; }

.u-fill-danger-60 { fill: rgba($color-danger, .6) !important; }
.u-fill-primary-60 { fill: rgba($color-primary, .6) !important; }

.u-text-danger { color: $color-danger !important; }
.u-text-success { color: $color-success !important; }

.u-text-dark { color: $color-grey-dark !important; }

.u-bg-secondary-50 { background-color: rgba($color-secondary, .4) !important; }

