@use 'src/scss/mixins' as *;
@use 'src/scss/variables' as *;

.root {
  overflow-y: scroll;
  padding: 5rem;
  height: 100%;

  @include respond(phone-lg) {
    padding: 5rem 2rem;
  }

  @include respond(phone-md) {
    padding: 4rem 1.5rem;
  }

  @include respond(phone-sm) {
    padding: 3rem 0.85rem;
  }
}

.top-bun {
  background-color: $color-primary-light;
  height: 8rem;
  width: 100%;
  border-radius: 50% 50% 10px 10px;
  margin-bottom: 1rem;
}

.bottom-bun {
  background-color: $color-primary-light;
  height: 6rem;
  border-radius: 10px 10px 20px 20px;
  width: 100%;
}
