@use 'src/scss/variables' as *;

.footer {
	background-color: $color-secondary;
	grid-column: full-start / full-end;
	padding: 4rem 8rem;

	display: grid;
	grid-template-rows: [nav-start] 1fr [nav-end copy-start] 1fr [copy-end];
	grid-template-columns: 1fr;
	grid-row-gap: 2rem;
}

.footer__nav {
	grid-row: nav-start / nav-end;
	grid-column: 1 / 2;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
	grid-gap: 2rem;
	align-content: center;
	justify-content: center;
}

.copyright {
	grid-column: 1 / 2;
	grid-row: copy-start / copy-end;
	align-self: end;
	justify-self: center;
	font-size: 1.7rem;
	color: rgba($color-tertiary, 0.55);
}
