.orders {
    display: grid;
     padding: 4rem 0;
    align-items: center;
    justify-items: center;
    list-style: none;

    &-status-true {
        grid-template-rows: [heading-start] 10rem [heading-end price-start] 10rem  [price-end status-start] .5fr [status-end filter-start] 10rem [filter-end list-start] 1fr [list-end];
        background-image: linear-gradient(rgba($color-white, .65), rgba($color-white, .65)),
        url(../../../../assets/images/gallery-3.jpg);
    }

    &-status-false {
        grid-template-rows: [heading-start] 10rem [heading-end list-start] 1fr [list-end];
    }

    @include respond(phone) {
        padding: 8rem 0;
    }

    &__heading {
        grid-row: heading-start / heading-end;
        margin-bottom: 4rem !important;
        text-align: center;
        font-weight: 400;
        width: 100%;
    }

    &__price {
        grid-row: price-start / price-end;
    }

    &__filter {
        grid-row: filter-start/filter-end;
        display: flex;
        width: 30%;

        @include respond(tab-port) {
            width: 43%;
        }

        @include respond(phone) {
            width: 50%;
            margin-top: 9rem;
            flex-direction: column;

            .btn {
                margin-top: 2rem;
            }
        }
    }

    &__status {
        grid-row: status-start/status-end;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
        width: 100%;
        grid-gap: 3rem;
    }

    &__list {
        grid-row: list-start / list-end;
        width: 70%;
        padding: 4rem ;
        display: flex;
        flex-direction: column;
        min-height: 80vh;

        &--empty {
            font-size: 4.25rem;
            text-align: center;
            font-weight: 400;
            font-family: $font-heading;
            color: $color-danger;
            text-transform: capitalize;
        }

        @include respond(tab-port) {
            width: 90%;
            margin-top: 4rem;
        }

        @include respond(phone) {
            width: 90%;
        }
    }

    &__list-item {
        margin-bottom: 2rem;
        grid-template-columns: 1fr 4fr 1fr;
    
        &-date {
            color: $color-grey-dark;
        }

        &-name {
            color: $color-tertiary;
        }

        &-price {
            color: rgba($color-primary, .65);
        }

        &-delivered {
            background-color: rgba($color-success, .34);
        }

        &-pending {
            background-color: rgba($color-danger, .34);
        }
    }
}
