@use 'src/scss/abstracts' as *;
@use 'src/scss/variables' as *;

.orders-admin {
	min-height: 91.5vh;
	padding: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			rgba($color-light, 0.8),
			rgba($color-light, 0.8)
		),
		url(../../../../../images/dashboard.jpg);

	@include respond(laptop-md) {
		background-image: linear-gradient(
				rgba($color-light, 0.8),
				rgba($color-light, 0.8)
			),
			url(../../../../../images/dashboard-md.jpg);
	}

	@include respond(phone-lg) {
		background-image: linear-gradient(
				rgba($color-light, 0.8),
				rgba($color-light, 0.8)
			),
			url(../../../../../images/dashboard-sm.jpg);
	}

	&__stats {
		justify-self: center;
		width: 100%;
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, 20rem);
		gap: 3rem;
	}

	&__list {
		&-filter {
			padding: 2rem;

			select {
				display: block;
				margin-left: auto;
			}
		}

		&-items {
			padding: 2rem;
			overflow-y: scroll;
			height: calc(91.5vh - 40vh);
		}
	}
}
