$color-white: #fff;
$color-black: #000;

$color-primary: #803300;
$color-secondary: #FFD59C;
$color-tertiary: #006BC7;

$color-primary-light: #B96738;

$color-success : #44AA00;
$color-success-light: #67BC80;

$color-danger: #D80A27;

$color-grey-dark: #333;
$color-grey-light: #f7f7f7;


$font-brand :  'Dancing Script', cursive; 
$font-default : 'Lato', sans-serif;
$font-heading : 'Nunito', sans-serif;

$shadow-light: 0 .75rem 1rem rgba($color-black, .25);
$shadow-medium: 0 1rem 1.5rem rgba($color-black, .45);