@use 'src/scss/mixins' as *;
@use 'src/scss/variables' as *;

%header {
  padding: 2rem 4rem;
  border-radius: 8px;
  margin-bottom: 3rem;
}

%divider {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  background-color: rgba($color-dark, 0.25);
  height: 1px;
  width: 95%;
  transform: translateX(-50%);
}

.root {
  display: grid;
  grid-template-columns:
    repeat(2, 1fr)
    [start-cart-content] repeat(6, 1fr)
    [end-cart-content start-cart-total] repeat(2, 1fr)
    [end-cart-total]
    repeat(2, 1fr);
  padding: 5rem 0;
  grid-column-gap: 0.75rem;
  justify-content: center;
  background-color: $color-white;
  min-height: $page-height;

  @include respond(laptop-md) {
    grid-template-columns:
      repeat(1, 1fr)
      [start-cart-content] repeat(5, minmax(5rem, 1fr))
      [end-cart-content start-cart-total] repeat(2, minmax(5rem, 1fr))
      [end-cart-total]
      repeat(1, 1fr);
    grid-column-gap: 0.5rem;
  }

  @include respond(laptop-sm) {
    grid-template-columns:
      [start-cart-content] repeat(5, minmax(5rem, 1fr))
      [end-cart-content start-cart-total] repeat(2, minmax(5rem, 1fr))
      [end-cart-total];
    grid-column-gap: 0.5rem;
    padding: 1.5rem 3rem;
  }

  @include respond(tab-land) {
    grid-template-columns: 1 / -1;
  }

  @include respond(phone-lg) {
    padding: 1rem;
  }
}

.content {
  grid-column: start-cart-content / end-cart-content;

  @include respond(tab-land) {
    grid-column: 1 / -1;
  }

  &__header {
    @extend %header;

    background-color: $color-secondary;
  }

  &__list {
    background-color: #f2f2f2;
    border-radius: 8px;
  }
}

.total {
  grid-column: start-cart-total / end-cart-total;

  @include respond(tab-land) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  position: sticky;
  top: 14.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
  min-height: 45rem;
  border-radius: 8px;
  background-color: $color-light;

  @include respond(tab-land) {
    position: relative;
    top: 0;
    margin-bottom: 3rem;
  }

  &__header {
    @extend %header;
  }

  &__details {
    display: grid;
    gap: 1.2rem;
    padding: 0 3rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1.45rem;

    p {
      font-size: 1.9rem;
    }

    &::before {
      @extend %divider;
    }
  }

  &__cta__container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 2.5rem;

    h6 {
      font-size: 2.65rem;
    }

    &::before {
      @extend %divider;
    }
  }

  &__btn button {
    width: 100%;
  }
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;

  grid-column: 1 / -1;

  @include respond(tab-land) {
    padding: 3rem;
    margin-top: 10rem;
  }
}
