@use 'src/scss/mixins' as *;
@use 'src/scss/variables' as *;

.root {
  max-width: 160rem;
  padding: 2rem;

  @include respond(desktop-sm) {
    max-width: 140rem;
    margin: 0 auto;
  }

  @include respond(laptop-lg) {
    max-width: 100%;
  }

  @include respond(tab-land) {
    padding: 2rem 1rem;
  }
}

.heading {
  display: none;

  @include respond(laptop-md) {
    display: block;
    margin: 1rem 0 2rem 0;
  }
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  gap: 4rem;
}
