*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 37.5%; 
    }
}


body {
    box-sizing: border-box;
}
