.u-text-white { color: $color-white !important; }
.u-text-primary { color: $color-primary !important ;}
.u-text-tertiary { color: $color-tertiary !important ;}
.u-bg-white {background-color: $color-white !important; }
.u-text-grey-dark { color: $color-grey-dark !important; }
.u-text-success { color: $color-success !important; }
.u-text-danger { color: $color-danger !important; }


.u-flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.u-flex-between {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.u-justify-self-start { justify-self: start !important; }
.u-align-self-center { align-self: center !important; }
.u-text-center { text-align: center !important; }
.u-w-100 { width: 100% !important;}
.u-w-80 { width: 80% !important; }
.u-w-75 { width: 75% !important;}
.u-w-50 { width: 50% !important;}
.u-vh-100 { height: 100vh !important;  }

.u-ml-2 { margin-left: 2rem !important; }  
.u-mt-3 { margin-top: 3rem !important; }
.u-mt-2 { margin-top: 2rem !important; }
.u-mb-4 { margin-bottom: 4rem !important; }
.u-mr-2 {margin-right: 2rem !important;}
.u-mx-auto {margin: 0 auto !important;}



.u-ftwt-400 { font-weight: 400 !important; }
.u-ftwt-700 { font-weight: 700 !important; }

.u-text-transform-none { text-transform: none !important; } 

.u-fontSize-3rem { font-size: 3rem !important; }
.u-fontSize-4 { font-size: 4rem !important; }
.u-fontSize-2rem { font-size: 2rem !important; }





.u-text-vegetarian { color: $color-success !important; }
.u-text-non-vegetarian { color: $color-danger !important;}

.u-bg-vegetarian--opacity-35 { background-color:  rgba($color-success, .35) !important; }
.u-bg-non-vegetarian--opacity-35 { background-color:  rgba($color-danger, .35) !important; }