.card__menu {
    height: 60rem;
    width: 70%;

    padding: 2rem;
    background-color: #fff;
    box-shadow: $shadow-light;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  30rem .5fr 1fr 1fr 1.25fr;
    align-items: center;
    justify-items: center;
 
        &-img {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            height: 100%;
            width: 100%;
            object-fit: scale-down;
            object-position: center;
        }

    
        &-title {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: $color-tertiary;
            font-family: $font-heading;
        }

        &-foodType {
            grid-row: 3/ 4;
            grid-column: 1 / 3;
            align-self: center;
            font-size: 2rem;
            text-transform: capitalize;
        }

        &-ingredients {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
            display: grid;
            justify-items: center;
            align-self: center;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        }

        &-ingredient {
            align-self: center;
            font-size: 1.6rem;
            color: rgba($color-grey-dark, .75);
            text-transform: capitalize;
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: space-evenly;
            
            &-name {
                width: 7rem;
            }
        }

        &-price {
            grid-row: 5 / 6;
            grid-column: 1 / 3;
            align-self: center;
            font-weight: bold;
            font-size: 4rem;
            color: rgba($color-tertiary, .75);
        }

        &-btn {
            grid-row: 6 / 7;
            grid-column: 1 / 3;
            justify-self: center;
            align-self: center;
        }
}

