@use 'src/scss/mixins' as *;
@use 'src/scss/variables' as *;

.root {
  background-image: linear-gradient(
      to right,
      rgba($color-white, 0.7),
      rgba($color-white, 0.5)
    ),
    url(/images/dashboard.webp);
  min-height: calc(100vh - $navbar-height);
  padding: 2rem 3rem;
  background-repeat: no-repeat;
  background-size: cover;

  object-fit: cover;
  object-position: center;

  @include respond(tab-land) {
    padding-top: 6rem;
    min-height: 100vh;

    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.7),
        rgba($color-white, 0.5)
      ),
      url(/images/dashboard-md.webp);
  }

  @include respond(phone-md) {
    padding: 8rem 1.85rem;

    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.7),
        rgba($color-white, 0.5)
      ),
      url(/images/dashboard-md.webp);
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.85rem;
  margin-bottom: 3rem;
}
