.order-list-item {
    background-color: $color-white;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba($color-grey-dark, .4);
    font-size: 2rem;
    transition: all .3s ease-out;

    @include respond(phone) {
        padding: 2rem;
        font-size: 2.15rem;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
    };

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__date {
        font-size: 1.5rem;

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }

    &__id {
        color: rgba($color-grey-dark, .7);
    }

    &__date {
        color: rgba($color-grey-dark, .7);
    }

    &__price {
        color: rgba($color-tertiary, .75);
    }

    &__status {
        text-transform: uppercase;

        &--pending {
            color: $color-danger;
        }

        &--cancelled {
            color: $color-grey-dark;
        }

        &--delivered {
            color: $color-success;
        }
    }

    &:hover {
        transform: translateX(-1rem);
    }
}