@use 'src/scss/variables' as *;

.root {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: darken($color-success, 15%);
}

.text {
  font-size: 2rem;
  width: 25rem;
  font-family: $font-heading;
}
