.alert {
    position: fixed;
    top: 13%;
    left: 34.5%;
    z-index: 20;
    padding: 2rem;
    background-color: $color-white;
    border-radius: 3px;
    min-width: 30%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    max-width: 6.5rem;

    @include respond(tab-port) {
        min-width: 75%;
        left: 13%;
        font-size: 1.8rem;
    }

    @include respond(phone-xs) {
        min-width: 90%;
        left: 5%;
        font-size: 2rem;
    }

    &--danger {
        background-color: $color-danger;
        color: $color-grey-light;
    }

    &--success {
        background-color: $color-success;
        color: $color-grey-light;
    }
}