.badge {
    background-color: $color-primary;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-white;
    position: absolute;
    top: 0;
    right: 0;

    p {
        font-size: .85rem;
    }
}