.modal {
    background-color: $color-white;
    z-index: 30;
    position: fixed;
    border-radius: 4px;
    overflow: hidden;
    top: 23%;
    left: 33%;
    opacity: 0;
    transform: translateY(-100vh);
    transition: all .6s ease-out;

    &__msg {
        font-size: 2rem;
        text-transform: capitalize;
        margin-bottom: 4rem;
        color: $color-grey-dark;
    }

    &__cta {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &--show {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}