.review {
    width:50%;
    border-radius: 10px;
    padding: 4rem;

    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: $color-white;;
    box-shadow: $shadow-light;
    grid-gap: 3rem;

    @include respond(tab-port) {
        width: 70%;
    }

    @include respond(phone) {
        width: 80%;
    } 

    &__user-details {
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  1fr;
        align-items: center;
    }

    &__user-image {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        justify-self: start;
        object-position: center;
        object-fit: cover;
        
        @include respond(phone) {
            height: 8rem;
            width: 8rem;
        }
    }

    &__user-name {
        font-size: 1.8rem;
        justify-self: start;
        color: $color-primary;
        justify-self: center;

        @include respond(phone) {
            font-size: 3rem;
        }
    }

    &__ratings {
        font-size: 2.5rem;
        font-weight: lighter;
        color: $color-tertiary;
        justify-self: end;

        @include respond(phone) {
            font-size: 3rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        font-style: italic;
        color: rgba($color-primary, .75);

        @include respond(phone) {
            font-size: 2.2rem;
        }
    }
}