@use 'src/scss/abstracts' as *;
@use 'src/scss/variables' as *;

.burger {
	overflow-y: scroll;
	padding: 5rem;
	height: 100%;

	@include respond(phone-md) {
		padding: 5rem 2rem;
	}

	&-top-bun {
		background-color: $color-primary-light;
		height: 8rem;
		width: 100%;
		border-radius: 50% 50% 10px 10px;
		margin-bottom: 1rem;
	}

	&-bottom-bun {
		background-color: $color-primary-light;
		height: 6rem;
		border-radius: 10px 10px 20px 20px;
		width: 100%;
	}
}
