@use 'src/scss/abstracts' as *;
@use 'src/scss/variables' as *;

.my-orders {
	max-width: 160rem;
	padding: 2rem;

	@include respond(desktop-sm) {
		max-width: 140rem;
		margin: 0 auto;
	}

	@include respond(laptop-lg) {
		max-width: 100%;
	}

	@include respond(tab-land) {
		padding: 2rem 1rem;
	}

	&__heading {
		display: none;

		@include respond(laptop-md) {
			display: block;
			text-align: center;
			margin: 1rem 0 2rem 0;
		}
	}
}
