.form{

    &__group {
        width: 100%;
        &:not(:last-child){
            margin-bottom: 2rem !important;
        }
    }

    &__label {
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    &__small {
        font-size: 1.4rem;
    }

    &__input ,
    &__textarea{
        width: 100%;
        background-color: rgba($color-grey-light, .75);
        padding : .8rem 1rem .5rem 1rem;
        font-size : 2rem;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid transparent;
        box-shadow: 0 .25rem .75rem rgba($color-black, .25);
        transition: all .15s ease-out;

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-success;
            transform: scale(1.01);
            box-shadow: 0 .5rem 1rem rgba($color-black, .5); 

            &:invalid {
                border-bottom: 3px solid $color-danger;
            }
        }

        @include respond (phone) {
            font-size: 2.5rem;
        }

    }

    &__textarea {
        font-family: inherit;
        height: 20rem;
    }
}
