.gallery {
    position: relative;
    
    .gallery__img {
        height: 25rem;
        width: 25rem;
        box-shadow: $shadow-medium;
        border-radius: 2px;
        outline-offset: 2rem;
        transition: all .2s;
        position: absolute;

        @include respond(phone) {
            height: 20rem;
            width: 20rem;
        }


        &-1 {     
            top: -30rem;
            left : -3rem;

            @include respond(tab-land) {
                top: -18rem;
                left: 10rem;
            }

            @include respond(phone) {
                top: -18rem;
                left: 12rem;
            }

        }

        &-2 {
            top: -20rem;
            left : -25rem;

            @include respond(tab-land) {
                top: -18rem;
                left: -35rem;
            }

            @include respond(phone) {
                left : -31.5rem;
            }
        }

        &-3 {
            top: -6rem;
            left : -10rem;

            @include respond(tab-land) {
                top: -14rem;
                left : -12.5rem;
            }

            @include respond(phone) {
                top: -14rem;
                left : -10rem;
            }
        }

        &:hover {
            outline : 1.5rem solid $color-white;
            transform : scale(1.05) translateY(-.5rem);
            box-shadow: $shadow-medium;
            z-index: 20;

            @include respond (tab-land){
                outline: 1.5rem solid $color-primary;
            }
        }
    }
}