@use '/src/scss/variables' as *;

.animationRoot {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.animationElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba($color-white, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba($color-white, 0.2);
}
