.text {
  width: 100%;
  height: 1.4rem;
}

.title {
  width: 50%;
  height: 2.2rem;
  margin-bottom: 4rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left: auto;
}

.right {
  margin-right: auto;
}
