@use 'src/scss/variables' as *;
@use 'src/scss/abstracts' as *;

.nav-item {
	position: relative;
	color: $color-black;
	font-size: 1.55rem;
	text-decoration: none;
	transition: all 0.35s ease-out;

	@include respond(tab-land) {
		font-size: 2.25rem;
	}

	&:hover {
		color: $color-tertiary;
	}

	&__logout {
		color: $color-danger;

		&:hover {
			color: $color-danger;
			filter: brightness(80%) !important;
		}
	}

	&--active {
		color: $color-tertiary;
	}

	&__badge {
		position: absolute;
		top: -18px;
		right: -10px;

		@include respond(tab-land) {
			top: 2px;
			right: 0px;
		}
	}
}
