/////////////////////////////////
// Colors

$color-white: #fff;
$color-black: #000;

$color-primary: #803300;
$color-secondary: #ffd59c;
$color-tertiary: #006bc7;

$color-primary-light: #b96738;

$color-success: #44aa00;
$color-success-light: #67bc80;

$color-danger: #d80a27;

$color-dark: #333;
$color-light: #f7f7f7;

$color-gray: #b6b1b1;

// color map
$colors: (
	white: $color-white,
	black: $color-black,
	primary: $color-primary,
	'primary-light': $color-primary-light,
	secondary: $color-secondary,
	tertiary: $color-tertiary,
	success: $color-success,
	'success-light': $color-success-light,
	danger: $color-danger,
	dark: $color-dark,
	light: $color-light,
	gray: $color-gray,
);
