.form{
    &__group {
        width: 95%;
        margin: 0 auto;

        &-sb {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        &:not(:last-child){
            margin-bottom: 2rem !important;

            @include respond(phone) {
                margin-bottom: 2.5rem !important;
            }
        }
    }

    &__link {
        color: $color-grey-light;
        text-decoration: underline;
        font-size: 1.6rem;
    }

    &__image {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__label {
        font-size: 1.6rem;
        text-transform: capitalize;

        @include respond(phone) {
            font-size: 2rem;
        }
        
        @include respond(phone-xs) {
            font-size: 2.75rem;
        }
    }

    &__small {
        font-size: 1.4rem;

        @include respond(tab-port) {
            font-size: 1.5rem;
        }
    }

    &__input ,
    &__textarea{
        width: 100%;
        background-color: rgba($color-grey-light, .75);
        padding : .5rem 1rem;
        font-size : 2rem;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid transparent;
        box-shadow: 0 .25rem .75rem rgba($color-black, .25);
        transition: all .15s ease-out;

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-success;
            transform: scale(1.01);
            box-shadow: 0 .5rem 1rem rgba($color-black, .5); 

            &:invalid {
                border-bottom: 3px solid $color-danger;
            }
        }

        @include respond(tab-port) {   
            font-size: 2.15rem;
        }

        @include respond (phone) {
            padding : 1.25rem 2rem;
            font-size: 2.5rem;
        }

        @include respond (phone-xs) {
            padding : 1.5rem 2rem;
            font-size: 2.75rem;
        }
    }

    &__textarea {
        font-family: inherit;
        height: 20rem;
    }
}


