.search-form {
    flex-basis: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 80% !important;
        border-radius: 10px;

        @include respond(phone) {
            width: 90%;
        }

    }

    button {
        padding: .7rem;
        border-radius: 10px;
        margin-left: .5rem;

        @include respond(phone) {
            padding: 1rem;
            margin-left: 2rem;
        }
    }
}