@use '/src/scss/variables' as *;
@use '/src/scss/mixins' as *;

.hero {
  display: grid;
  min-height: $page-height;
  grid-template-columns:
    repeat(2, 1fr)
    [start-display] repeat(4, 1fr) [end-display]
    repeat(6, 1fr);

  grid-template-rows: 1fr 0.55fr;
  background-image: linear-gradient(
      rgba($color-white, 0.4),
      rgba($color-white, 0.3)
    ),
    url(/images/home.webp);
  background-size: cover;
  background-attachment: fixed;

  @include respond(laptop-md) {
    grid-template-columns:
      repeat(1, 1fr)
      [start-display] repeat(6, 1fr) [end-display]
      repeat(5, 1fr);
  }

  @include respond(laptop-sm) {
    background-image: linear-gradient(
        rgba($color-white, 0.4),
        rgba($color-white, 0.3)
      ),
      url(/images/home-md.webp);
  }

  @include respond(tab-land) {
    grid-template-columns:
      repeat(1, 1fr)
      [start-display] repeat(6, 1fr) [end-display]
      repeat(1, 1fr);
  }

  @include respond(phone-lg) {
    grid-template-columns: [start-display] repeat(6, 1fr) [end-display];
    background-image: linear-gradient(
        rgba($color-white, 0.4),
        rgba($color-white, 0.3)
      ),
      url(/images/home-sm.webp);
  }

  &-display--1 {
    grid-row: 1 / 2;
    grid-column: start-display / end-display;
    background-color: rgba($color-black, 0.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &-display--2 {
    grid-row: 2 / 3;
    grid-column: start-display / end-display;
    background-color: rgba($color-white, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
  }
}

.make-burger {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/images/make-burger.webp);
  background-size: cover;
  background-position: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  grid-row-gap: 1.5rem;

  @include respond(laptop-sm) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(/images/make-burger-md.webp);
  }

  @include respond(tab-land) {
    padding: 2rem;
    grid-row-gap: 2.5rem;
  }

  @include respond(tab-port) {
    padding: 2rem;
    grid-row-gap: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(/images/make-burger-sm.webp);
  }
}

.popular-burgers {
  min-height: 100vh;
  background-color: $color-secondary;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  @include respond(phone-lg) {
    padding: 4rem 2rem;
  }

  @include respond(phone-sm) {
    padding: 3rem 1rem;
  }

  &__heading {
    text-align: center;
    padding: 2rem;

    @include respond(phone-lg) {
      padding: 0;
    }
  }

  &__cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    padding: 0 25rem;

    @include respond(desktop) {
      padding: 0 15rem;
    }

    @include respond(desktop-sm) {
      padding: 0 10rem;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }

    @include respond(laptop-md) {
      padding: 0 5rem;
    }

    @include respond(laptop-sm) {
      padding: 0 2rem;
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      padding: 0;
    }
  }
}
