.footer {
    background-color: $color-secondary;
    grid-column : full-start / full-end;
    padding: 4rem 8rem;

    display: grid;
    grid-template-rows: [nav-start] 1fr [nav-end copy-start] 1fr [copy-end] ;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;

}

.footer__nav {
    grid-row: nav-start / nav-end;
    grid-column: 1 / 2;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 30rem));
    grid-gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;

    &__link {
        &:link,
        &:visited {
            font-size : 1.4rem;
            color : $color-primary;
            text-decoration: none;
            font-family : $font-heading;
            text-transform: uppercase;
            text-align: center;
            padding : 1.5rem;
            display: block;
            background-color: rgba($color-black, .05);
            transition: all .2s ;

            @include respond(phone) {
                font-size: 1.75rem;
            }
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            color: $color-white;
            background-color: rgba($color-black, .5);
            transform : translate(-3px);
        }
    }
}

.copyright {
    grid-column: 1 / 2;
    grid-row: copy-start / copy-end;
    align-self :end;
    justify-self: center;
    font-size: 2rem;
    color: rgba($color-tertiary, .65);

    @include respond(tab-port) {
        font-size: 1.8rem;
    }

    @include respond(phone) {
        font-size: 2.2rem;
    }
}