.header {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: $color-white;
    z-index: 10;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__brand {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;

        &-name {
            font-family: $font-brand;
            font-size: 2.65rem;
            color: $color-black;

            @include respond(tab-land) {
                font-size: 3rem;
            }

            @include respond(phone) {
                font-size: 3.5rem;
            }
        }
    }

    &__logo {
        height: 3rem;
        margin-right: 1rem;
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-self: end;
        align-self: center;
        align-items: center;
        justify-items: center;

        @include respond(tab-port) {
            margin-top: 2.75rem;
            width: 70%;
        }

        @include respond(phone) {
            margin-top: 3rem;
            width: 100%;
        }

        &-item {
            padding: .75rem 1rem;
            list-style: none;
            position: relative;

            @include respond(laptop) {
                padding: .25rem .75rem;
            }
        }

    
        &-link {
            font-size: 1.6rem;
            color: $color-black;
            text-decoration: none;
            transition: all .2s ease-out;

            @include respond(tab-port) {
                font-size: 1.85rem;
            }

            @include respond(phone) {
                font-size: 2rem;
            }

            @include respond(phone-xs) {
                font-size: 2.2rem;
            }

            &--active,
            &:hover {
                color: $color-tertiary;
            }
        }

    }
}