.sidebar {
    background-color: $color-primary;
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary
    );

    display: grid;
    grid-template-rows: .25fr 1fr;

    position: fixed;
    bottom: 0;
    height: calc(100% - 8.4rem);
    z-index: 20;

    @include respond(tab-port) {
        height: 100%;
    }

    .avatar {
        padding: 8rem 2rem;
    }

    &__nav {
        grid-row : 2 / 3;
        
        display: grid;
        align-self: start;
        text-align: center;
        grid-row-gap: .5rem;

        @include respond(tab-port) {
            text-align: left;
        }

    }

    &__nav-link {
        padding: 1.8rem 2rem;
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-secondary;
        position: relative;
        transition: all .3s ease-out;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: .65rem;
            background-color: transparent;
            transition: all .3s ease-out;
        }

        @include respond(tab-port) {
            font-size: 2.2rem;
        }

        @include respond(tab-port) {
            font-size: 2.5rem;
        }

        &:hover {
            transform: translateY(-2px);
            background-color: rgba($color-grey-dark, .45);
            color: $color-grey-light;
            
            &::before {
                background-color: currentColor;
            }
        }

        &--active {
            color: $color-grey-light;
            transform: translateY(-2px);
            background-color: rgba($color-grey-dark, .45);

            &::before {
                background-color: currentColor;
            }
        }
    
    }
}

