@use 'src/scss/mixins' as *;
@use 'src/scss/variables' as *;

.root {
  background-color: $color-secondary;
  border-radius: 8px;
  padding: 3rem;
}

.table {
  width: 100%;
  text-align: center;
}

.head {
  font-size: 2rem;
  color: $color-primary;
  font-weight: 600;

  &-row {
    padding: 1rem;
    text-transform: uppercase;
  }
}

.body {
  font-size: 2rem;
  color: $color-dark;

  &-row {
    padding-top: 1.5rem;
  }
}

.cta {
  margin-top: 5.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
