.icon {

    height: 4rem;
    width: 4rem;

    @include respond(phone) {
        height: 2rem;
        width: 2rem;
    }
}

.icon-hamburger {
    @include respond(tab-land) {
        height: 4rem;
        width: 4rem;
        fill: $color-primary;
    }
}