@use 'src/scss/variables' as *;
@use 'src/scss/mixins' as *;

.root {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: $color-dark;
}

.field {
  border: 2px solid $color-gray;
  outline: none;
  padding: 0.8rem;
  width: 100%;
  font-size: 1.75rem;
  border-radius: 8px;
  font-weight: 400;
  color: $color-dark;
  transition: all 0.3s ease-out;
  margin-bottom: 0.5rem;

  &:focus {
    border-color: $color-primary;
  }
}

.error-message {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: $color-danger;
}

.error {
  margin-bottom: 1.3rem !important;
}

.error .label {
  color: $color-danger !important;
}

.error .field {
  border-color: $color-danger !important;
}
