.about {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8rem [body-start] 1fr [body-end];
    

    &__container {
        grid-row:  body-start / body-end ;
        background-image: linear-gradient(to right, rgba($color-black, .80), rgba($color-black, .65)), 
        url(./../../assets/images/about-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: grid;
        grid-template-rows: [row-full-start] 1fr [gallery-start] 1.5fr [row-full-end] ;
        grid-template-columns: [full-start] 2fr [heading-start] 4fr [heading-end card-start] 8fr [card-end] 1rem [full-end];

        justify-items: center;
        align-items: center;

        @include respond(tab-land) {
            background-image: none;
            grid-template-rows: [bg-start] 1fr [bg-end heading-start] .125fr [heading-end gallery-start] .75fr [gallery-end card-start] 2fr [card-end] 2rem;
            grid-template-columns: [full-start] 1rem [main-start] 1fr [main-end] 1rem [full-end];
            background-color: $color-grey-light;
            grid-gap: 3rem;
        }
    }

    &__bg {
        display: none; 

        @include respond(tab-land) {
            display: block;
            height: 100%;
            width: 100%;
            grid-row: bg-start / bg-end;
            grid-column: full-start / full-end;
            object-fit: cover;
        }
    }


    &__heading {
        grid-column: heading-start / heading-end;
        align-self: center;
        justify-self: start;
        font-size: 7rem;
        font-family: $font-brand;
        color: rgba($color-white, .85);

        @include respond(tab-land) {
            align-self: center;
            justify-self: center;
            font-size: 6rem;
            grid-column: main-start / main-end;
            grid-row: heading-start / heading-end;
            color: $color-tertiary;
            margin-bottom: 5rem;
        }
    }


    &__card {
        grid-column: card-start / card-end;
        grid-row: row-full-start / row-full-end;

        @include respond(tab-land) {
            grid-row: card-start / card-end;
            grid-column: main-start / main-end;
        }
    }

    &__gallery {
        grid-row: gallery-start / row-full-end;
        grid-column: heading-start / heading-end;

        @include respond (tab-land) {
            grid-row: gallery-start / gallery-end;
            grid-column: main-start / main-end;
        } 
    }
}