@use '/src/scss/variables' as *;
@use './mixins' as *;

.item {
  position: relative;
}

.root {
  color: $color-dark;
  text-decoration: none;
  text-align: center;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  border: 2px solid currentColor;
  border-radius: 50%;
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-out;
}

.label {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
}

.root:hover .icon,
.root:focus-visible .icon {
  @include activeIcon($color-tertiary);
}

.root:hover .label,
.root:focus-visible .label {
  @include activeLabel($color-tertiary);
}

.logout {
  .label {
    color: $color-danger;

    &:hover,
    &:focus-visible {
      @include activeLabel($color-danger);
    }
  }

  .icon {
    border-color: $color-danger;
    color: $color-danger;

    &:hover,
    &:focus-visible {
      @include activeIcon($color-danger);
    }
  }

  &:hover .icon,
  &:focus-visible .icon {
    @include activeIcon($color-danger);
  }

  &:hover .label,
  &:focus-visible .label {
    @include activeLabel($color-danger);
  }
}

.badge {
  border-radius: 50%;
  background-color: $color-primary-light;
  padding: 0.75rem;
  height: 1.8rem;
  width: 1.8rem;
  border: 2px solid $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-black;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: -2px;
}

.active {
  .icon {
    @include activeIcon($color-tertiary);
  }

  .label {
    @include activeLabel($color-tertiary);
  }
}
