@use 'src/scss/variables' as *;
@use 'src/scss/abstracts' as *;

.add-remove-btn {
	display: flex;
	align-items: center;
	width: 100%;

	p {
		font-size: 2rem;
		margin: 0 2rem;
		color: $color-primary;

		@include respond(tab-land) {
			font-size: 2.2rem;
		}
	}

	&__size--lg {
		p {
			font-size: 2.4rem;
			font-weight: 500;
			margin: 0 3.5rem;
		}
	}
}
