@use 'src/scss/variables' as *;
@use 'src/scss/abstracts' as *;

.cart {
	min-height: 92vh;
	padding: 5rem 10rem;

	display: grid;
	grid-template-rows: [heading-start] max-content [heading-end];
	grid-template-columns:
		[list-start] repeat(7, 1fr) [list-end] repeat(1, 1fr)
		[total-start] repeat(4, 1fr)
		[total-end];
	grid-row-gap: 4rem;

	@include respond(laptop-lg) {
		grid-template-columns:
			repeat(1, 1fr)
			[list-start] repeat(6, 1fr) [list-end]
			[total-start] repeat(5, 1fr) [total-end];
		padding: 4rem 8rem;
	}

	@include respond(laptop-sm) {
		grid-template-columns: [content-start] repeat(6, 1fr) [content-end];
	}

	@include respond(tab-land) {
		padding: 2rem 5rem;
	}

	@include respond(tab-port) {
		padding: 2rem;
	}

	&__heading {
		grid-row: heading-start / heading-end;
		grid-column: 1 / -1;
		text-align: center;
	}

	&__list {
		grid-column: list-start / list-end;
		grid-row: 2 / 4;
		padding: 5rem 10rem;
		height: 65vh;
		display: grid;
		grid-row-gap: 3rem;
		align-items: start;
		overflow-y: scroll;
		align-content: start;

		@include respond(laptop-md) {
			padding: 4rem 0;
			height: auto;
			overflow-y: auto;
		}

		@include respond(laptop-sm) {
			grid-column: content-start / content-end;
		}
	}

	&__total {
		grid-column: total-start / total-end;
		display: grid;
		background-color: $color-secondary;
		border-radius: 15px;
		box-shadow: 0 1px 2px rgba($color-dark, 0.54);
		padding: 4rem;

		@include respond(laptop-sm) {
			display: none;
		}

		&-price {
			text-align: center;
			font-size: 5rem;
			font-weight: 700;
			color: rgba($color-dark, 0.85);
		}

		button {
			padding: 1.5rem !important;
			align-self: center;
			justify-self: center;
		}
	}

	&__mobile-cta {
		display: none;
		justify-self: end;

		h1 {
			font-size: 2.5rem;
			margin-bottom: 1.2rem;
		}

		button {
			width: 100%;
		}

		@include respond(laptop-sm) {
			display: block;
			grid-column: content-start / content-end;
		}
	}

	&__empty {
		height: 91vh;
		gap: 4rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
