@use 'src/scss/variables' as *;
@use 'src/scss/abstracts' as *;

.menu {
	display: flex;
	flex-direction: column;
	padding: 5rem;
	gap: 5rem;

	@include respond(phone-lg) {
		padding: 2rem;
	}

	&__header {
		display: grid;
		grid-template-columns: 12rem repeat(12, 1fr) 12rem;
		align-items: center;

		@include respond(laptop-sm) {
			grid-template-columns: 1rem repeat(12, 1fr) 1rem;
		}

		h1 {
			grid-column: 7 / 9;

			@include respond(phone-lg) {
				grid-column: 2 / 4;
				grid-row: 1 / 2;
			}
		}

		&-filter-icon {
			justify-self: end;
			grid-column: 10 / 13;

			@include respond(tab-port) {
				grid-column: 13 / 15;
			}

			@include respond(phone-lg) {
				grid-row: 1 / 2;
			}
		}

		&-make-your-own {
			grid-column: 3 / 5;

			@include respond(tab-land) {
				grid-column: 2 / 5;
			}

			@include respond(phone-lg) {
				grid-column: 9 / 13;
				grid-row: 1 / 2;
				justify-self: end;
			}

			@include respond(phone-md) {
				grid-column: 7 / 12;
			}
		}
	}

	&__filter {
		padding: 0 25rem;
		display: flex;
		gap: 2rem;

		@include respond(tab-port) {
			flex-direction: column;
			align-items: center;

			& > * {
				width: 100%;
			}
		}

		&-switch {
			display: flex;
			align-items: center;
			gap: 1rem;

			font-size: 2rem;

			@include respond(tab-port) {
				justify-content: center;
			}

			svg {
				height: 5rem;
				width: 5rem;
			}
		}

		.search-form {
			flex: 1;

			@include respond(tab-port) {
				flex-direction: column;
				gap: 1rem;
			}
		}

		@include respond(desktop) {
			padding: 0 15rem;
		}

		@include respond(desktop-sm) {
			padding: 0 10rem;
		}

		@include respond(laptop-md) {
			padding: 0 5rem;
		}

		@include respond(laptop-sm) {
			padding: 0 2rem;
		}
	}

	&__cards {
		display: grid;
		gap: 2.5rem;
		grid-template-columns: repeat(auto-fit, 41.5rem);
		padding: 0 25rem;

		@include respond(desktop) {
			padding: 0 15rem;
		}

		@include respond(desktop-sm) {
			padding: 0 10rem;
			grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
		}

		@include respond(laptop-md) {
			padding: 0 5rem;
		}

		@include respond(laptop-sm) {
			padding: 0 2rem;
		}
	}
}
