.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    height: 100%;

    &__brand {
        width: 65%;
        margin: auto;

        &-name {
            font-size: 3rem;
            font-family: $font-brand;
            color: $color-white;
        }

        @include respond(phone) {
            margin-bottom: 15rem;
        }
    }

    &__nav {
        display: grid;
        grid-template-rows: 6fr repeat(4, 1fr);
        width: 100%;
        grid-gap: 1rem;

        @include respond(tab-port) {
            align-items: center;
        }
    }

    &__nav-item {
        padding: 1rem 2rem;
        cursor: pointer;
    }

    &__nav-link {
        list-style: none;
        text-decoration: none;
        font-size: 2rem;
        color: $color-black;
        transition: all .3s ;
        border-left: 10px solid transparent;
        
        text-transform: capitalize;
      

        &--active,
        &:hover,
        &:focus {
            outline: none;
            transform: translateY(-.2rem);
            background-color: rgba($color-black, .4);
            color: $color-white;
        }

        &--active {
            border-left: 10px solid $color-white;
            color: $color-white;
        }
    }
}

