///////////////////////////////////////////////////////////////////
// Media Queries

@mixin respond($breakpoint) {
    @if ($breakpoint == phone) {
        @media only screen and (max-width: 37.5em) { @content };
    }

    @if ($breakpoint == tab-port) {
        @media only screen and (max-width: 62.5em) { @content };
    } 

    @if ($breakpoint == tab-land) {
        @media only screen and (max-width: 75em) { @content };
    }
}

/////////////////////////////////////////////////////////////////
// Buttons

@mixin simpleButton($color, $bg, $brightness) {
    color: $color;
    background-color: $bg;
    transition: all .2s;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        filter: brightness($brightness);
    }
}

@mixin svgButton($fill, $bg, $brightness) {
    fill : $fill;
    background-color: $bg;
    transition: all .2s ease-out;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        filter: brightness($brightness);
    }
}

@mixin simpleButtonOutline($color1, $color2) {

    border: 2px solid $color1;
    color: $color1;
    font-weight: 500;
    background-color: transparent;
    border-radius: 100px;
    transition: all .2s;

    &:hover,
    &:focus {
        color: $color2;
        background-color: $color1;
    }
}

@mixin disabledButton {
    border: 2px solid rgba($color-grey-dark, .5);
    color: rgba($color-grey-dark, .5);
    font-weight: 500;
    cursor: not-allowed;
    background-color: transparent;
}

