@use './../variables' as *;

@mixin respond($breakpoint) {
	@each $key, $value in $breakpoints {
		@if $breakpoint == $key {
			@media only screen and (max-width: $value + em) {
				@content;
			}
		}
	}

	@if $breakpoint == desktop-xl {
		@media only screen and (min-width: 125em) {
			@content;
		}
	}
}

@mixin activeLabel($color) {
	color: $color;
}

@mixin activeIcon($color) {
	background-color: $color;
	border-color: $color;
	color: $color-light;
}
