@use 'src/scss/variables' as *;
@use 'src/scss/abstracts' as *;

.menu {
	padding: 2rem;
	padding-bottom: 6rem;
	min-height: $page-height;

	html & {
		&::-webkit-scrollbar {
			display: none;
		}

		scrollbar-width: none;

		@media (max-width: laptop-sm) {
			scrollbar-width: thin;
		}
	}

	&__container {
		max-width: calc(100vw - 60rem);
		margin: 0 auto;

		@include respond(laptop-lg) {
			max-width: calc(100vw - 40rem);
		}

		@include respond(laptop-sm) {
			max-width: calc(100vw - 20rem);
		}

		@include respond(tab-land) {
			max-width: 100%;
			text-align: right;
		}
	}

	&__filter {
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		@include respond(tab-land) {
			gap: 1rem;
		}

		@include respond(tab-port) {
			flex-direction: column;
		}
	}

	&__search {
		position: relative;
		width: 30%;

		@include respond(laptop-sm) {
			width: 60%;
		}

		@include respond(tab-port) {
			width: 90%;
			margin: 0 auto;
		}

		.form-input {
			@include respond(tab-port) {
				margin-bottom: -5px;
			}
		}
	}

	&__search__icon {
		position: absolute;
		right: 10px;
		top: 10px;
		color: $color-gray;
	}

	&__items {
		min-height: 49.5rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		gap: 1.5rem;

		@include respond(phone-sm) {
			min-height: 100vh;
			grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
		}
	}
}
