$breakpoints: (
  'phone-sm': 20,
  // 320px,
  'phone-md': 26.25,
  // 420px,
  'phone-lg': 33.75,
  // 540px
  'tab-port': 40.625,
  // 650px
  'tab-land': 50,
  // 800px
  'laptop-sm': 70,
  // 1120px
  'laptop-md': 84.375,
  // 1350px
  'laptop-lg': 96.875,
  // 1550px
  'desktop-sm': 103.125,
  // 1650px
  'desktop': 111.25,
  // 1780px
  'desktop-lg': 115.625,
  // 1850px,,
);
