$font-brand: 'Dancing Script', cursive;
$font-default: 'Lato', sans-serif;
$font-heading: 'Nunito', sans-serif;

$font-weights: (
  300: 300,
  400: 400,
  600: 600,
  700: 700,
);

$text-tranforms: (
  uppercase: uppercase,
  capitalize: capitalize,
);

$text-align: (
  'center': center,
  'left': left,
  'right': right,
);
