@use 'src/scss/variables' as *;
@use 'src/scss/mixins' as *;

.root {
  display: flex;
  align-items: center;
  width: 100%;
}

.text {
  font-size: 2rem;
  margin: 0 2rem;
  color: $color-primary;

  @include respond(tab-land) {
    font-size: 1.8rem;
  }
}

.text--lg {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0 3.5rem;
}
