.card-menu {
    display: grid;
    width: 40rem;
    background-color: $color-white;
    grid-row-gap: 1.4rem;
    border-radius: 5px;
    grid-template-rows: repeat(3, max-content) 10rem repeat(2, max-content);
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba($color-grey-dark, .65);
    text-align: center;

    @include respond(phone) {
        width: 100%;
        grid-template-rows: repeat(3, max-content) 13rem repeat(2, max-content);
    }

    &__image {
        padding-top: 2rem;
        height: 30rem;
        width: 30rem;
        justify-self: center;

        @include respond(phone) {
            height: 50rem;
            width: 50rem;
        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        text-transform: uppercase;
        font-size: 2.25rem;
        font-family: $font-heading;
        color: $color-tertiary;

        @include respond(phone) {
            font-size: 3.85rem;
        }
    }

    &__foodtype {
        font-size: 1.8rem;
        text-transform: capitalize;

        @include respond(phone) {
            font-size: 2.85rem;
        }
    }

    &__ingredients {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__ingredient {
        font-size: 1.5rem;
        color: rgba($color-grey-dark, .65);
        width: 40%;
        display: flex;
        text-align: center;
        justify-content: space-around;

        @include respond(phone) {
            font-size: 2.5rem;
        }
    }

    &__price {
        font-size: 3rem;
        font-weight: 700;
        color: rgba($color-tertiary, .85);

        @include respond(phone) {
            font-size: 4.5rem;
        }
    }

    &__cta {
        align-self: center;
        justify-self: center;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-size: 1.8rem !important;

        @include respond(phone) {
            font-size: 2.85rem !important;
        }
    }
}