.burger__new {
    display: grid;
    display: grid;
    grid-template-rows: [heading-start] 10rem [heading-end create-start] 1fr [create-end];

    &-heading {
        grid-row: heading-start / heading-end;
        color: $color-tertiary;
        align-self: center;
        justify-self: center;

        @include respond(tab-land) {
            align-self: end;
            transform: translateY(3rem);
        }
    }

    &-create {
        grid-row: create-start / create-end;
        width: 100%;
        display: grid;
        grid-template-rows: [form-start] 30vh [form-end img-start] .25fr [img-end burger-start] 1fr [burger-end btn-start] 10rem [btn-end];
    
        .custom-burger {
            grid-row: burger-start / burger-end;
        }

        &-form {
            grid-row: form-start / form-end;
            width: 60%;
            transform: translateY(5rem);
            align-self: center;
            justify-self: center;
        }

        &-btn {
            font-size: 3rem !important;
            justify-self: center;
            align-self: center;
        }

        &-image-bg {
            width: 60%;
            grid-row: img-start / img-end;
            align-self: center;
            justify-self: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transform: translateY(3rem);

            .btn__tertiary-goTo {
                order: 2;
            }

            .bg-image {
                background-image: url(../../../../assets/images/logo.svg);
                background-repeat: no-repeat;
                background-position: center;
                height: 25rem;
                width: 25rem;
                background-size: fill;
                box-shadow: $shadow-light;
            }

            @include respond(tab-land) {
                flex-direction: column;
            }

            &-image {
                height: 25rem;
                width: 25rem;
                box-shadow: $shadow-light;

                @include respond(tab-land) {
                    margin-bottom: 2rem;                
                }
            }   
        }
    }
}

