@use '/src/scss/variables' as *;
@use '/src/scss/mixins' as *;

.root {
	display: grid;
	grid-template-columns:
		repeat(2, 1fr)
		[start-brand] repeat(4, minmax(5rem, 1fr))
		[end-brand start-nav] repeat(4, minmax(5rem, 1fr))
		[end-nav]
		repeat(2, 1fr);
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	background-color: $color-light;
	z-index: 15;
	min-height: $navbar-height;

	@include respond(laptop-md) {
		grid-template-columns:
			repeat(1, 1fr)
			[start-brand] repeat(4, minmax(5rem, 1fr))
			[end-brand start-nav] repeat(4, minmax(5rem, 1fr))
			[end-nav]
			repeat(1, 1fr);
	}

	@include respond(tab-land) {
		grid-template-columns:
			repeat(1, 1fr)
			[start-brand] repeat(3, minmax(5rem, 1fr))
			[end-brand start-nav] repeat(3, minmax(5rem, 1fr))
			[end-nav]
			repeat(1, 1fr);
	}

	@include respond(tab-port) {
		grid-template-rows: max-content max-content;
	}

	@include respond(phone-lg) {
		grid-template-columns:
			2rem
			[start-brand] repeat(3, minmax(5rem, 1fr))
			[end-brand start-nav] repeat(3, minmax(5rem, 1fr))
			[end-nav]
			2rem;

		min-height: $navbar-height-sm;
	}
}

.brand {
	padding: 1.6rem 0;
	font-size: 3rem;
	font-family: $font-brand;
	cursor: pointer;
	grid-column: start-brand / end-brand;
	text-decoration: none;

	display: flex;
	align-items: center;
	gap: 1rem;

	@include respond(tab-port) {
		grid-row: 1 / 2;
		font-size: 3.25rem;
	}

	@include respond(phone-lg) {
		font-size: 2.75rem;
	}

	@include respond(phone-md) {
		font-size: 2.25rem;
		width: 20rem;
	}

	@include respond(phone-sm) {
		grid-row: 1 / 2;
		font-size: 2rem;
	}
}

.nav {
	grid-column: start-nav / end-nav;
	justify-self: end;
	display: flex;
	align-self: stretch;
	align-items: center;
	gap: 1.5rem;
	list-style: none;

	@include respond(tab-land) {
		display: none;
	}

	&--mobile {
		display: none;

		@include respond(tab-land) {
			display: grid;
			gap: 1.5rem;
			grid-column: 1 / -1;
			grid-row: 2 / 3;
			padding: 0 2rem;
			list-style: none;
			visibility: hidden;
			pointer-events: none;
			height: 0;
		}
	}
}

.toggle {
	display: none;

	@include respond(tab-land) {
		grid-row: 1 / 2;
		grid-column: start-nav / end-nav;
		justify-self: end;
		display: block;
	}
}

.nav-mobile {
	grid-row: 2 / 3;
	grid-column: start-brand / end-brand;
	justify-self: start;
}

// .navbar {
// 	display: grid;
// 	grid-template-columns:
// 		repeat(2, 1fr)
// 		[start-brand] repeat(4, minmax(5rem, 1fr))
// 		[end-brand start-nav] repeat(4, minmax(5rem, 1fr))
// 		[end-nav]
// 		repeat(2, 1fr);
// 	align-items: center;
// 	position: sticky;
// 	top: 0;
// 	left: 0;
// 	background-color: $color-light;
// 	z-index: 15;
// 	min-height: $navbar-height;

// 	@include respond(laptop-md) {
// 		grid-template-columns:
// 			repeat(1, 1fr)
// 			[start-brand] repeat(4, minmax(5rem, 1fr))
// 			[end-brand start-nav] repeat(4, minmax(5rem, 1fr))
// 			[end-nav]
// 			repeat(1, 1fr);
// 	}

// 	@include respond(tab-land) {
// 		grid-template-columns:
// 			repeat(1, 1fr)
// 			[start-brand] repeat(3, minmax(5rem, 1fr))
// 			[end-brand start-nav] repeat(3, minmax(5rem, 1fr))
// 			[end-nav]
// 			repeat(1, 1fr);
// 	}

// 	@include respond(tab-port) {
// 		grid-template-rows: max-content max-content;
// 	}

// 	@include respond(phone-lg) {
// 		grid-template-columns:
// 			2rem
// 			[start-brand] repeat(3, minmax(5rem, 1fr))
// 			[end-brand start-nav] repeat(3, minmax(5rem, 1fr))
// 			[end-nav]
// 			2rem;

// 		min-height: $navbar-height-sm;
// 	}

// 	&__brand {
// 		padding: 1.6rem 0;
// 		font-size: 3rem;
// 		font-family: $font-brand;
// 		cursor: pointer;
// 		grid-column: start-brand / end-brand;
// 		text-decoration: none;

// 		display: flex;
// 		align-items: center;
// 		gap: 1rem;

// 		@include respond(tab-port) {
// 			grid-row: 1 / 2;
// 			font-size: 3.25rem;
// 		}

// 		@include respond(phone-lg) {
// 			font-size: 2.75rem;
// 		}

// 		@include respond(phone-md) {
// 			font-size: 2.25rem;
// 			width: 20rem;
// 		}

// 		@include respond(phone-sm) {
// 			grid-row: 1 / 2;
// 			font-size: 2rem;
// 		}
// 	}

// 	&__nav {
// 		grid-column: start-nav / end-nav;
// 		justify-self: end;
// 		display: flex;
// 		align-self: stretch;
// 		align-items: center;
// 		gap: 1.5rem;
// 		list-style: none;

// 		@include respond(tab-land) {
// 			display: none;
// 		}
// 	}

// 	&__nav--mobile {
// 		display: none;

// 		@include respond(tab-land) {
// 			display: grid;
// 			gap: 1.5rem;
// 			grid-column: 1 / -1;
// 			grid-row: 2 / 3;
// 			padding: 0 2rem;
// 			list-style: none;
// 			visibility: hidden;
// 			pointer-events: none;
// 			height: 0;
// 		}
// 	}

// 	&__toggle {
// 		display: none;

// 		@include respond(tab-land) {
// 			grid-row: 1 / 2;
// 			grid-column: start-nav / end-nav;
// 			justify-self: end;
// 			display: block;
// 		}
// 	}

// 	.nav-mobile {
// 		grid-row: 2 / 3;
// 		grid-column: start-brand / end-brand;
// 		justify-self: start;
// 	}
// }
